* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: none;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "BROmny-Bold", sans-serif;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

html, body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: "BROmny-Bold";
  src: url("../fonts/BR-Omny-Bold.ttf");
  font-family: "BROmny-Medium";
  src: url("../fonts/BR-Omny-Medium.ttf");
}
h1,
h2,
h3 {
  font-family: "BROmny-Bold", sans-serif;
}

h4, h5 {
  font-family: "BROmny-Medium", sans-serif;
  font-family: "BROmny-Medium", sans-serif;
}

h1, h2 {
  font-weight: bold;
}

h2, h3, h4, h5 {
  font-weight: 400;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

.step_by_step {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}
.step_by_step .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.step_by_step .container .content_left {
  width: 100%;
  max-width: 411px;
}
.step_by_step .container .content_left .title {
  max-width: 398px;
  margin-bottom: 20px;
  color: #5A78FF;
}
.step_by_step .container .content_left .sub_title {
  max-width: 411px;
  margin-bottom: 24px;
}
.step_by_step .container .content_left .list {
  margin-bottom: 67px;
}
.step_by_step .container .content_left .list ul li {
  max-width: 287px;
  padding: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.step_by_step .container .content_left .list ul li .icon {
  width: 54px;
  height: 54px;
  background-color: #5a78ff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-right: 19px;
}
.step_by_step .container .content_left .list ul li .text .text_main {
  color: #5A78FF;
  font-weight: 400;
}
.step_by_step .container .content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  margin-bottom: 65px;
  height: 449px;
}
.step_by_step .container .content_right .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.step_by_step .container .content_right .img:not(:last-child) {
  padding: 0px 21px 0px 0px;
}
.step_by_step .container .content_right .img .circle {
  width: 270px;
  height: 270px;
  background-color: #44fed6;
  border-radius: 100%;
}
.step_by_step .container .content_right .img .circle .screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 223px;
  max-height: 449px;
}
.step_by_step .container .content_right .img .circle .screen img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 480px) {
  .step_by_step .contianer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .step_by_step .contianer .content_left .title {
    font-family: "BROmny-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.group_testimonial {
  background-color: #EBF1F8;
  padding-top: 7.5rem;
  padding-bottom: 8.1rem;
}
.group_testimonial .container .title {
  margin-bottom: 8.3rem;
}
.group_testimonial .container .title h2 {
  color: #5A78FF;
  margin-bottom: 1.6rem;
  text-align: center;
}
.group_testimonial .container .title h5 {
  text-align: center;
}
.group_testimonial .container .slider-influenciadores {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}
.group_testimonial .container .slider-influenciadores .testimonial {
  width: 100%;
  max-width: 300px;
  height: 435px;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
}
.group_testimonial .container .slider-influenciadores .testimonial .superior_content {
  height: 283px;
  background-color: #5A78FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.group_testimonial .container .slider-influenciadores .testimonial .superior_content .circle {
  width: 200px;
  height: 200px;
  background-color: #44FED6;
  border-radius: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.group_testimonial .container .slider-influenciadores .testimonial .superior_content .circle .upper_cloud {
  position: absolute;
  top: 31px;
  right: -50px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.group_testimonial .container .slider-influenciadores .testimonial .superior_content .circle .lower_cloud {
  position: absolute;
  bottom: 76.31px;
  left: -60px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.group_testimonial .container .slider-influenciadores .testimonial .inferior_content {
  padding: 25px 0px;
  height: 152px;
  background-color: #ffffff;
}
.group_testimonial .container .slider-influenciadores .testimonial .inferior_content h4 {
  text-align: center;
  color: #5A78FF;
}
.group_testimonial .container .slider-influenciadores .testimonial .inferior_content h5 {
  text-align: center;
  color: #3C3246;
  padding-bottom: 22px;
}
.group_testimonial .container .slider-influenciadores .testimonial .inferior_content .btn_WatchVideos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.group_testimonial .container .slider-influenciadores .testimonial .inferior_content .btn_WatchVideos button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 137px;
  height: 32px;
  padding: 4px 8px;
  border-radius: 100px;
  gap: 4px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.group_testimonial .container .slider-influenciadores .testimonial .inferior_content .btn_WatchVideos button .icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.group_testimonial .container .slider-influenciadores .testimonial .inferior_content .btn_WatchVideos button:hover {
  background-color: #5a78ff;
  color: #ffffff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.group_testimonial .container .slider-influenciadores .testimonial:hover .superior_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.group_testimonial .container .slider-influenciadores .testimonial:hover .superior_content .circle {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 250px;
  height: 250px;
}
.group_testimonial .container .slider-influenciadores .testimonial:hover .superior_content .circle .upper_cloud {
  right: 25px;
}
.group_testimonial .container .slider-influenciadores .testimonial:hover .superior_content .circle .lower_cloud {
  left: 6px;
}
.group_testimonial .container .slider-influenciadores .testimonial:hover .inferior_content {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #44fed6;
}
@media (max-width: 480px) {
  .group_testimonial .container .title {
    max-width: 30.3rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
  }
  .group_testimonial .container .title h2 {
    margin-bottom: 1.6rem;
  }
}

.download_here button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  background-color: #3c3246;
  border-radius: 100px;
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.download_here button span {
  border: none;
}
.download_here button span .icon {
  width: 24px;
  height: 24px;
  background-image: url("../img/cloud_download_green.svg");
  background-repeat: no-repeat;
  border: #FFFFFF;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.download_here button:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3c3246;
}

.social_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social_network ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social_network ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #655B70;
  margin-left: 0.8rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.social_network ul li li:not(:first-child) {
  margin-left: 0.8rem;
}
.social_network ul li:hover {
  background-color: #5A78FF;
}

.video .content .boxvideo {
  max-width: 744px;
  height: 418px;
  background-color: rgba(90, 120, 255, 0.529);
  border-radius: 16px;
  margin: 0 auto;
}
.video .content .text h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  font-size: 120px;
  line-height: 120px;
  color: #FFFFFF;
  z-index: 2;
}
.video .content .text h1::after {
  content: "";
  width: 13.1rem;
  height: 16px;
  border: 0.2rem solid #FFFFFF;
  background-color: #FFFFFF;
  position: absolute;
  top: 44%;
  left: 495px;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 144rem;
  padding: 0 8rem;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .container {
    padding: 0 2rem;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #3C3246;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .container img {
  width: 100%;
  max-width: 330px;
  height: 14px;
}
footer .container p {
  color: #FFFFFF;
  font-family: BROmny-Medium;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
}
@media (max-width: 1050px) {
  footer .container {
    padding: 0rem 1.6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .container .logorodape {
    margin-bottom: 2.3rem;
  }
  footer .container p {
    margin-bottom: 2.3rem;
  }
}

.s-hero {
  background-image: url("../img/Bgbanner_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.s-hero .container {
  padding-top: 11.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s-hero .container .content_left .top {
  margin-bottom: 12.213rem;
  position: absolute;
}
.s-hero .container .content_left .top img {
  position: relative;
  width: 100%;
  max-width: 81.6rem;
  height: 15.8rem;
}
.s-hero .container .content_left .bottom {
  width: 100%;
  max-width: 29.9rem;
  margin-left: 10rem;
  margin-right: 13.2rem;
  position: relative;
  top: 26rem;
}
.s-hero .container .content_left .bottom h2 {
  color: #FFFFFF;
  margin-bottom: 6.9rem;
}
.s-hero .container .content_left .bottom h5 {
  max-width: 14rem;
  color: #FFFFFF;
  margin-bottom: 2.8rem;
}
.s-hero .container .content_left .bottom img {
  max-width: 8rem;
}
.s-hero .container .content_right .ilustration {
  width: 100%;
  max-width: 75.3rem;
  height: 70.4rem;
}
@media (max-width: 122.6rem) {
  .s-hero .container .content_left .top .logo img {
    max-width: 70rem;
  }
}
@media (max-width: 102.4rem) {
  .s-hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .s-hero .container .content_left .top {
    position: inherit;
    margin-bottom: 2rem;
  }
  .s-hero .container .content_left .top .logo img {
    width: 100%;
    max-width: 35rem;
  }
  .s-hero .container .content_left .bottom {
    position: inherit;
    margin-left: 0;
  }
  .s-hero .container .content_left .bottom h2 {
    color: #FFFFFF;
    margin-bottom: 3.9rem;
  }
  .s-hero .container .content_left .bottom h5 {
    max-width: 14rem;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
  }
  .s-hero .container .content_left .bottom img {
    max-width: 8rem;
  }
  .s-hero .container .content_right {
    position: relative;
  }
  .s-hero .container .content_right .ilustration img {
    max-width: 35rem;
  }
}
@media (max-width: 99.1rem) {
  .s-hero .container {
    padding: 9rem 4rem 0 4rem;
    display: block;
  }
  .s-hero .container .content_left .top {
    margin-bottom: 3.2rem;
  }
  .s-hero .container .content_left .top .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
  }
  .s-hero .container .content_left .top .logo img {
    width: 100%;
    max-width: 70rem;
  }
  .s-hero .container .content_left .bottom {
    max-width: 100%;
  }
  .s-hero .container .content_left .bottom h2 {
    text-align: center;
    margin-bottom: 3.2rem;
  }
  .s-hero .container .content_left .bottom h5 {
    max-width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }
  .s-hero .container .content_left .bottom img {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 3.2rem;
  }
  .s-hero .container .content_right .illustration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .s-hero .container .content_right .illustration img {
    width: 100%;
    max-width: 100%;
  }
}

.s-video {
  background-image: url("../img/Bgbg_video.png");
  padding: 10.8rem 348px 13.9rem 34.8rem;
}
.s-video .container .top {
  margin-bottom: 3.3rem;
}
.s-video .container .top img {
  margin: 0 auto;
  margin-bottom: 1.9rem;
}
.s-video .container .top h2 {
  color: #44FED6;
  text-align: center;
}
.s-video .container .top h4 {
  color: #FFFFFF;
  text-align: center;
}
.s-video .container .bottom {
  width: 100%;
  max-width: 744px;
  height: 418px;
  background-color: rgba(90, 120, 255, 0.529);
  opacity: 0.5;
  border-radius: 16px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .s-video {
    padding: 16.3rem 1.6rem 25.3rem 1.6rem;
  }
  .s-video .container .top .text h4 {
    max-width: 233px;
    margin: 0 auto;
  }
  .s-video .container .bottom {
    width: 100%;
    max-width: 323.45px;
    height: 181.723px;
  }
}

.s-active-plan {
  padding: 12rem 0rem;
  background-color: #f6f8fa;
}
.s-active-plan .container .top {
  margin-bottom: 6rem;
}
.s-active-plan .container .top .text h2 {
  color: #5A78FF;
  text-align: center;
  margin-bottom: 1.5rem;
}
.s-active-plan .container .top .text h5 {
  text-align: center;
}
.s-active-plan .container .bottom .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s-active-plan .container .bottom .cards .card-01 {
  padding-top: 5.8rem;
  padding-bottom: 2.2rem;
  width: 100%;
  max-width: 41.1rem;
  height: 46.3rem;
  border-radius: 2rem;
  background-color: #EBF1F8;
  margin-right: 2.3rem;
}
.s-active-plan .container .bottom .cards .card-01 .text {
  margin-bottom: 1.8rem;
}
.s-active-plan .container .bottom .cards .card-01 .text .title-text {
  margin-bottom: 2.5rem;
}
.s-active-plan .container .bottom .cards .card-01 .text .title-text h3 {
  width: 128px;
  height: 32px;
  margin: 0 auto;
  color: #5A78FF;
}
.s-active-plan .container .bottom .cards .card-01 .text .line {
  margin-bottom: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.s-active-plan .container .bottom .cards .card-01 .text .line img {
  width: 100%;
  max-width: 226px;
  height: 40px;
}
.s-active-plan .container .bottom .cards .card-01 .text .sub-text .text-regular {
  max-width: 20.2rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2.2rem;
}
.s-active-plan .container .bottom .cards .card-01 .text .sub-text .text-bold {
  max-width: 15rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #3C3246;
}
.s-active-plan .container .bottom .cards .card-01 .box-download-app {
  width: 100%;
  max-width: 36.5rem;
  height: 13.2rem;
  margin: 0 auto;
  border-radius: 15px;
  background: #F6F8FA;
}
.s-active-plan .container .bottom .cards .card-01 .box-download-app .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4.3rem 2.4rem;
}
.s-active-plan .container .bottom .cards .card-01 .box-download-app .content .apple img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.s-active-plan .container .bottom .cards .card-01 .box-download-app .content .apple img:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.s-active-plan .container .bottom .cards .card-02 {
  padding-top: 5.8rem;
  padding-bottom: 2.2rem;
  width: 100%;
  max-width: 41.1rem;
  height: 46.3rem;
  border-radius: 2rem;
  background-color: #EBF1F8;
  margin-right: 2.3rem;
}
.s-active-plan .container .bottom .cards .card-02 .title-text {
  margin-bottom: 2.5rem;
}
.s-active-plan .container .bottom .cards .card-02 .title-text h3 {
  width: 128px;
  height: 32px;
  margin: 0 auto;
  color: #5A78FF;
}
.s-active-plan .container .bottom .cards .card-02 .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6.5rem;
}
.s-active-plan .container .bottom .cards .card-02 .line .line3 {
  width: 100%;
  max-width: 40px;
  height: 40px;
}
.s-active-plan .container .bottom .cards .card-02 .list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3.8rem;
}
.s-active-plan .container .bottom .cards .card-02 .list ul li:not(:last-child) {
  margin-bottom: 1.8rem;
}
.s-active-plan .container .bottom .cards .card-02 .list ul li .icon {
  padding-right: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-active-plan .container .bottom .cards .card-02 .list ul li .icon img {
  width: 4.4rem;
  height: 4.4rem;
}
.s-active-plan .container .bottom .cards .card-02 .list ul li .text {
  width: 279px;
}
.s-active-plan .container .bottom .cards .card-03 {
  padding-top: 5.8rem;
  padding-bottom: 2.2rem;
  width: 100%;
  max-width: 41.1rem;
  height: 46.3rem;
  border-radius: 2rem;
  background-color: #3C3246;
  margin-right: 2.3rem;
}
.s-active-plan .container .bottom .cards .card-03 .title-text {
  margin-bottom: 2.5rem;
}
.s-active-plan .container .bottom .cards .card-03 .title-text h3 {
  width: 128px;
  height: 32px;
  margin: 0 auto;
  color: #FFFFFF;
}
.s-active-plan .container .bottom .cards .card-03 .line {
  margin-bottom: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.s-active-plan .container .bottom .cards .card-03 .line img {
  width: 100%;
  max-width: 226px;
  height: 40px;
}
.s-active-plan .container .bottom .cards .card-03 .sub-text {
  width: 195px;
  height: 45px;
  margin: 0 auto;
  padding-top: 2px;
  margin-bottom: 24px;
}
.s-active-plan .container .bottom .cards .card-03 .sub-text h5 {
  color: #FFFFFF;
}
.s-active-plan .container .bottom .cards .card-03 .ilustration img {
  margin: 0 auto;
}
@media (max-width: 480px) {
  .s-active-plan {
    padding: 4rem 0rem;
  }
  .s-active-plan .container {
    padding: 0;
  }
  .s-active-plan .container .top {
    max-width: 23rem;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
  .s-active-plan .container .top h2 {
    margin-bottom: 2.4rem;
  }
  .s-active-plan .container .bottom .cards {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .s-active-plan .container .bottom .cards .card-01,
.s-active-plan .container .bottom .cards .card-02,
.s-active-plan .container .bottom .cards .card-03 {
    margin: 0 auto;
    max-width: 48rem;
    border-radius: 0rem;
  }
  .s-active-plan .container .bottom .cards .card-01 .title-text h3,
.s-active-plan .container .bottom .cards .card-02 .title-text h3,
.s-active-plan .container .bottom .cards .card-03 .title-text h3 {
    text-align: center;
  }
  .s-active-plan .container .bottom .cards .card-02 .line .line03 {
    right: 45.9%;
  }
  .s-active-plan .container .bottom .cards .card-02 .line .line01 {
    left: 45.9%;
  }
}

.s-important-informations {
  padding-top: 13.4rem;
  background-color: #5A78FF;
}
.s-important-informations .container .content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}
.s-important-informations .container .content-top .left .content {
  width: 100%;
  max-width: 29.4rem;
}
.s-important-informations .container .content-top .left .content h2 {
  max-width: 25.5rem;
  color: #FFFFFF;
  margin-bottom: 4.3rem;
}
.s-important-informations .container .content-top .left .content h3 {
  color: #FFFFFF;
  margin-bottom: 4.3rem;
}
.s-important-informations .container .content-top .left .content .contact-list {
  max-width: 25.6rem;
}
.s-important-informations .container .content-top .left .content .contact-list ul li .theft,
.s-important-informations .container .content-top .left .content .contact-list ul li .assistance,
.s-important-informations .container .content-top .left .content .contact-list ul li .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-important-informations .container .content-top .left .content .contact-list ul li .theft:not(:last-child),
.s-important-informations .container .content-top .left .content .contact-list ul li .assistance:not(:last-child),
.s-important-informations .container .content-top .left .content .contact-list ul li .email:not(:last-child) {
  margin-bottom: 3.9rem;
}
.s-important-informations .container .content-top .left .content .contact-list ul li .theft .icon,
.s-important-informations .container .content-top .left .content .contact-list ul li .assistance .icon,
.s-important-informations .container .content-top .left .content .contact-list ul li .email .icon {
  margin-right: 2.1rem;
}
.s-important-informations .container .content-top .left .content .contact-list ul li .theft .text,
.s-important-informations .container .content-top .left .content .contact-list ul li .assistance .text,
.s-important-informations .container .content-top .left .content .contact-list ul li .email .text {
  text-align: left;
}
.s-important-informations .container .content-top .left .content .contact-list ul li .theft .text h4,
.s-important-informations .container .content-top .left .content .contact-list ul li .assistance .text h4,
.s-important-informations .container .content-top .left .content .contact-list ul li .email .text h4 {
  color: #FFFFFF;
  margin-bottom: 1.6rem;
}
.s-important-informations .container .content-top .left .content .contact-list ul li .theft .text h5,
.s-important-informations .container .content-top .left .content .contact-list ul li .assistance .text h5,
.s-important-informations .container .content-top .left .content .contact-list ul li .email .text h5 {
  color: #FFFFFF;
}
.s-important-informations .container .content-top .left .content .contact-list ul li .email .icon {
  width: 5.1rem;
  height: 5.1rem;
  background: #3C3246;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-important-informations .container .content-top .right .top {
  width: 100%;
  max-width: 166px;
}
.s-important-informations .container .content-top .right .top h3 {
  color: #FFFFFF;
  margin-bottom: 2.4rem;
}
.s-important-informations .container .content-top .right .bottom {
  position: relative;
}
.s-important-informations .container .content-top .right .bottom img {
  position: inherit;
  top: 10px;
  z-index: 2;
}
.s-important-informations .container .content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s-important-informations .container .content-bottom .left .image {
  position: relative;
  width: 100%;
}
.s-important-informations .container .content-bottom .left .image .hand {
  position: absolute;
  max-width: 689px;
  z-index: 1;
}
.s-important-informations .container .content-bottom .left .image .tree-small {
  position: absolute;
  max-width: 100px;
  top: 72.8rem;
  left: 10.5rem;
  z-index: 2;
}
.s-important-informations .container .content-bottom .left .image .tree-big {
  position: absolute;
  max-width: 300px;
  top: 72.8rem;
  z-index: 2;
}
.s-important-informations .container .content-bottom .left .image .cloud {
  position: absolute;
  max-width: 13.1905rem;
  height: 31px;
  z-index: 2;
  top: 13rem;
  left: 39rem;
}
.s-important-informations .container .content-bottom .left .image .cloud2 {
  position: absolute;
  max-width: 1.7486rem;
  height: 15.186px;
  z-index: 2;
  top: 37rem;
  left: 52rem;
}
.s-important-informations .container .content-bottom .left .image .sheet {
  position: absolute;
  max-width: 1.8rem;
  height: 1.8rem;
  z-index: 2;
  top: 13rem;
}
.s-important-informations .container .content-bottom .left .image .sheet2 {
  position: absolute;
  max-width: 100px;
  top: 68.8rem;
  left: 13.5rem;
  z-index: 2;
}
.s-important-informations .container .content-bottom .right {
  margin-top: 18.7rem;
  margin-bottom: 15.7rem;
}
.s-important-informations .container .content-bottom .right .content {
  width: 100%;
  max-width: 51.3rem;
}
.s-important-informations .container .content-bottom .right .content h2 {
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}
.s-important-informations .container .content-bottom .right .content .list-menu {
  margin-bottom: 4.1rem;
}
.s-important-informations .container .content-bottom .right .content .list-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.s-important-informations .container .content-bottom .right .content .list-menu ul li h5 {
  color: #FFFFFF;
  padding: 1.6rem 2.4rem;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
}
.s-important-informations .container .content-bottom .right .content .list-menu ul li:not(:last-child) {
  margin-right: 1.6rem;
}
.s-important-informations .container .content-bottom .right .content .another-subjects {
  width: 100%;
  max-width: 38.7rem;
}
.s-important-informations .container .content-bottom .right .content .another-subjects h3 {
  color: #FFFFFF;
  margin-bottom: 3.6rem;
}
.s-important-informations .container .content-bottom .right .content .another-subjects .list-subjects {
  width: 100%;
  max-width: 27rem;
}
.s-important-informations .container .content-bottom .right .content .another-subjects .list-subjects ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: inside;
}
.s-important-informations .container .content-bottom .right .content .another-subjects .list-subjects ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.s-important-informations .container .content-bottom .right .content .another-subjects .list-subjects ul li h5 {
  color: #FFFFFF;
}

.s-thirst {
  padding-top: 9rem;
  padding-bottom: 21.2rem;
  overflow: hidden;
  background-color: #3C3246;
}
.s-thirst .container {
  padding: 0px 0px;
}
.s-thirst .container .headquartersimage .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s-thirst .container .headquartersimage .text h2 {
  margin: 0 auto;
  padding-bottom: 12.1rem;
  color: #44FED6;
}
.s-thirst .container .headquartersimage .circle {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-thirst .container .headquartersimage .circle .img-sede {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  grid-gap: 4.3rem;
}
.s-thirst .container .headquartersimage .circle .img-sede img {
  width: 378px;
  height: 378px;
}
@media (max-width: 480px) {
  .s-thirst .container {
    padding: 0;
  }
  .s-thirst .container .headquartersimage .circle .elipse4 {
    border: none;
  }
  .s-thirst .container .headquartersimage .circle .elipse4 .elipse3 {
    border: none;
  }
  .s-thirst .container .headquartersimage .circle .elipse4 .elipse3 .elipse2 {
    border: none;
  }
  .s-thirst .container .headquartersimage .circle .elipse4 .elipse3 .elipse2 .elipse1 {
    width: 350px;
    height: 350px;
  }
  .s-thirst .container .headquartersimage .circle .elipse4 .elipse3 .elipse2 .elipse1 .img-sede img {
    width: 300px;
    height: 300px;
  }
}

.team {
  background-color: #5A78FF;
}
.team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team .container .left .logoverde {
  padding-top: 22.2rem;
  padding-bottom: 7.4rem;
}
.team .container .left h3 {
  max-width: 273px;
  color: #FFFFFF;
}
@media (max-width: 480px) {
  .team .container {
    padding: 6rem 0rem 0rem 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .team .container .left .logoverde {
    display: none;
    padding-top: 4.8rem;
    padding-bottom: 3.3rem;
    max-width: 250px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .team .container .left h3 {
    text-align: center;
    margin-bottom: 5.7rem;
  }
  .team .container .left .right img {
    width: auto;
  }
}