.s-step_by_step {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;

    .container {
        display: flex;
        .content_left {
            width: 100%;
            max-width: 411px;
            .title {
                max-width: 398px;
                margin-bottom: 20px;
                color: $azul;
            }
            .sub_title {
                max-width: 411px;
                margin-bottom: 24px;
            }
            .list {
                margin-bottom: 67px;
                ul {
                    li {
                        max-width: 287px;
                        padding: 16px 0px;
                        display: flex;
                        transition: all 0.4s ease-in-out;

                        .icon {
                            width: 100%;
                            max-width: 54px;
                            height: 54px;
                            background-color: $azul;
                            border-radius: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            margin-right: 19px;
                        }
                        .text {
                            .text_main {
                                color: $azul;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

        }
        .content_right {
            padding-top: 7.5rem;
            .swiper{

                .swiper-wrapper{

                    .swiper-slide{
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        width: 27rem;
                        &:not(:last-child){
                            margin-right: 1.8rem;
                        }
                        .app{    
                            margin: 0 auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                transition: all .4s ease-in-out;
                            }
                        }
                    }
                }
                .bottom{
                    .swiper-pagination{
                        width: auto;
                        position: relative;
                        .swiper-pagination-bullet{
                            background-color: $roxo-escuro;
                            opacity: 0.3;
                            border-radius: 12px;
                            transition: all 0.3s;
                            &:not(:first-child){
                                margin-left: 0.4rem;
                            }
                            &-active{
                                opacity: 1;
                                width: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1366px) {
        .swiper-slide{
            max-width: 240px;
        }  
    }
    
    @media (max-width: 1270px) {
        .container{
            display: block;
            .content_left{
                max-width: 100%;
                text-align: center;
                .title{
                    max-width: 100%;  
                }
                .sub_title{
                    max-width: 100%;
                } 
                .list{
                    ul{
                        pointer-events: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-align: center;
                      li{
                        max-width: 100%;
                      }  
                    }
                }
            }
            .content_right{
                .swiper{
                    .swiper-wrapper{
                        display: flex;
                        justify-content: space-between;
                        .swiper-slide{
                            max-width: 270px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1010px){
        .swiper-wrapper{
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }  
    }

    @media (max-width: 480px){
        padding-top: 4.8rem;
        padding-bottom: 9rem;
        .container{
            padding: 0 1.6rem;
            flex-direction: column;
            align-items: center;
            .content_left{
                .title{
                    font-family: 'BROmny-Bold';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
                .list{
                    margin-bottom: 4rem;
                    ul{
                        pointer-events: all;
                        display: block;
                    }
                }
            }
            .content_right{
                display: block;
                .swiper-slide{
                    &:not(:last-child){
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

.s-group-testimonial {
    background-color: #EBF1F8;
    padding-top: 7.5rem;
    padding-bottom: 8.1rem;
    .container {
        .title {
            margin-bottom: 8.3rem;
            h2 {
                color: $azul;
                margin-bottom: 1.6rem;
                text-align: center;
            }
            h5 {
                text-align: center;
            }
        }
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    .testimonial{
                        width: 100%;
                        max-width: 300px;
                        height: 435px;
                        margin: 0;
                        border-radius: 20px;
                        overflow: hidden;
                        position: relative;
                        .influenciador{
                            position: absolute;
                            top: 4px;
                            z-index: 999;
                            overflow: hidden;
                            img{
                                width: 100%;
                                max-width: 30rem;
                                height: 279px;
                            }
                        }
                        .superior_content{
                            height: 283px;
                            background-color: $azul;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            z-index: 1;
                            .circle{
                                width: 200px;
                                height: 200px;
                                background-color: $verde;
                                border-radius: 100%;
                                transition: all .4s ease-in-out;
        
                                .upper_cloud {
                                    position: absolute;
                                    top: 31px;
                                    right: -50px;
                                    transition: all .4s ease-in-out;
                                }
        
                                .lower_cloud {
                                    position: absolute;
                                    bottom: 76.31px;
                                    left: -60px;
                                    transition: all .4s ease-in-out;
                                } 
                            }
                        }
                        .inferior_content{
                            padding: 25px 0px;
                            height: 152px;
                            background-color: $branco;
                            h4 {
                                text-align: center;
                                color: $azul;
                            }
                            h5 {
                                text-align: center;
                                color: $roxo-escuro;
                                padding-bottom: 22px;
                            }
                            .btn_WatchVideos {
                                display: flex;
                                text-align: center;
                                justify-content: center;
                                align-items: center;
        
                                .button {
                                    font-family: 'BROmny-Medium';
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 40px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 137px;
                                    height: 32px;
                                    padding: 4px 8px;
                                    border-radius: 100px;
                                    gap: 4px;
                                    flex-shrink: 0;
                                    background-color: $branco;
                                    transition: all 0.4s ease-in-out;
                                    color: #000000;
                                    .icon {
                                        width: 24px;
                                        height: 24px;
                                        background-repeat: no-repeat;
                                        transition: all 0.4s ease-in-out;
                                    }
        
                                    &:hover {
                                        background-color: $azul;
                                        color: $branco;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }
                            }
                            .video_influenciador{
                                position: fixed;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 9999;
                                background-color: rgba(0, 0, 0, 0.4);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                opacity: 0;
                                pointer-events: none;
                                transition: all 0.3s;
                                .close_video_influenciador{
                                    position: absolute; 
                                    top: 10%;
                                    right: 27%;
                                    font-size: 20px;
                                    cursor: pointer;
                                    color: $branco;
                                    z-index: 99999;
                                    .influenciador_iframe{
                                        width: 90%;
                                        max-width: 800px;
                                        transform: scale(0);
                                        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
                                        outline: none;
                                        transition: all 0.3s;
                                    }
                                }
                                .show{
                                    pointer-events: all;
                                    opacity: 1;
                                    .influenciador_iframe{
                                        transform: scale(1);
                                    }
                                }
                            }

                        }
                    }
                    &:hover {
                        .superior_content {
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
    
                            .circle {
                                transition: all .4s ease-in-out;
                                width: 250px;
                                height: 250px;
    
                                .upper_cloud {
                                    right: 25px;
                                }
    
                                .lower_cloud {
                                    left: 6px;
                                }
                            }
                        }
    
                        .inferior_content {
                            transition: all .4s ease-in-out;
                            background-color: $verde;
                        }
                    }
                }
            }
            .bottom{
                padding-top: 8rem;
                .swiper-pagination{
                    width: auto;
                    position: relative;
                    .swiper-pagination-bullet{
                        background-color: $azul;
                        opacity: 0.3;
                        border-radius: 12px;
                        transition: all 0.3s;
                        &:not(:first-child){
                            margin-left: 0.4rem;
                        }
                        &-active{
                            opacity: 1;
                            width: 1.8rem;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:480px) {
        .container{
            padding: 0rem 1.6rem;
            .title{
                max-width: 30.3rem;
                margin: 0 auto;
                margin-bottom: 2.4rem;
                h2{
                    margin-bottom: 1.6rem;
                }
            }
        }
    }
}