@font-face {
    font-family: 'BROmny-Bold';
    src: url('../fonts/FontsFree-Net-BR-Omny-Bold.ttf');
    font-family: 'BROmny-Medium';
    src: url('../fonts/FontsFree-Net-BR-Omny-Medium.ttf');
}


h1{
    font-family: 'BROmny-Bold', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
h2{
    font-family: 'BROmny-Bold', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
h3{
    font-family: 'BROmny-Bold', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
h4{
    font-family: 'BROmny-Medium', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
h5{
    font-family: 'BROmny-Medium', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}